@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Quicksand:wght@400;500;600;700&family=Space+Mono:ital@0;1&display=swap');


html {

  /*** FONTS ***/
  --sans: 'Quicksand', sans-serif;
  --display: 'Cherry Bomb One', cursive;
  --mono: 'Space Mono', monospace;

  /*** COLORS ***/
  --clear: rgba(255, 255, 255, 0);
  --white: 255, 252, 252;
  --white-hex: #fffcfc;
  --white2: 247, 247, 247;
  --white2-hex: #f7f7f7;
  --white3: 240, 240, 240;
  --white3-hex: #f0f0f0;
  --gray: 221, 221, 221;
  --gray-hex: #ddd;
  --black: 40, 42, 42;
  --black-hex: #282a2a;
  --darken: 0%;
  --blendmode: darken;
}

html img {
  object-fit: cover;
  object-position: center center;
}

html[color-mode="dark"] {

  /*** COLORS ***/
  --clear: rgba(255, 255, 255, 0);
  --white: 38, 38, 38;
  --white-hex: #262626;
  --white2: 86, 86, 86;
  --white2-hex: #444;
  --white3: 51, 51, 51;
  --white3-hex: #333;
  --gray: 74, 73, 73;
  --gray-hex: #4a4949;
  --black: 252, 252, 252;
  --black-hex: #fffcfc;
  --darken: -15%;
  --blendmode: exclusion;
}

/*********
COMM1
*********/

via-comm1 {
  position:relative;
  display:grid;
  grid-template-rows: 100px 450px 50px;
  margin:30px auto;
  width:300px;
  background:var(--white2-hex);
  color:var(--black-hex);
  border-radius:15px;
  font-family:var(--sans);
  text-align:justify;
  border:2px solid var(--white3-hex);
  box-shadow: 0 0 10px 0 rgba(var(--white3),0.4);
  overflow:hidden;
}

via-comm1 via-comm1-top {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background:linear-gradient(to right, rgba(var(--mgrgb1),0.2) 0%, rgba(var(--mgrgb2),0.2) 15%, rgba(var(--mgrgb3),0.2) 50%, rgba(var(--mgrgb2),0.2) 85%, rgba(var(--mgrgb1),0.2) 100%);
  border-bottom:2px solid var(--white3-hex);
}

via-comm1 via-comm1-top comm1-top {
  position:relative;
}

via-comm1 via-comm1-top comm1-top img {
  width:50px;
  height:50px;
  border:2px solid var(--white3-hex);
  border-radius:100%;
}

via-comm1 via-comm1-top comm1-top indicator {
  position:absolute;
  right:3px;
  top:5px;
  width:10px;
  height:10px;
  border-radius:100%;
  background: rgb(var(--mgrgb1));
}

via-comm1 via-comm1-top contact-name {
  font:25px var(--display);
  color:var(--white-hex);
}

contact-name b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.8) 0%, rgba(var(--mgrgb2),0.8) 15%, rgba(var(--mgrgb3),0.8) 50%, rgba(var(--mgrgb2),0.8) 85%, rgba(var(--mgrgb1),0.8) 100%);
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: left 1rem;
}

via-comm1 .msgs {
  position:relative;
  display:grid;
  grid-template-rows:auto 50px auto;
  align-items:start;
  align-content: start;
  margin:20px;
  font-size:13px;
  padding-right:5px;
  overflow:auto;
}

via-comm1 .msgs x {
  position:relative;
  float:right;
  text-align:right;
  clear:both;
  padding:20px;
  background:var(--white-hex);
  border-radius:15px;
}

via-comm1 .msgs x r {
  position:absolute;
  bottom:-15px;
  right:10px;
}

via-comm1 .msgs x r img[src*="emojis"] {
  width:15px;
  background:rgba(var(--mgrgb1));
  padding:5px 10px;
  border-radius:5px;
}

via-comm1 .msgs bar {
  position:relative;
  display:block;
  background:var(--white-hex);
  width:50px;
  height:3px;
  margin:30px auto;
}

via-comm1 .msgs .msgs-proper p {
  float:left;
  clear:both;
  margin:3px 0;
  padding:10px;
  border-radius:10px;
  background:rgba(var(--mgrgb3),0.7);
}

via-comm1 via-comm1-bottom {
  position:relative;
  display:block;
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.8) 0%, rgba(var(--mgrgb2),0.8) 15%, rgba(var(--mgrgb3),0.8) 50%, rgba(var(--mgrgb2),0.8) 85%, rgba(var(--mgrgb1),0.8) 100%);
}

via-comm1 via-comm1-bottom type {
    position:relative;
    display:flex;
    flex-flow:row;
    justify-content: start;
    align-items: center;
    background:var(--white-hex);
    margin:10px 20px;
    width:calc(100% - 60px);
    height:30px;
    border-radius:20px;
    padding:0 10px;
    font:800 10px var(--sans);
    text-transform:uppercase;
    color:rgba(var(--mgrgb1),1);
    border-top:2px solid var(--white3-hex);
}

via-comm1 via-comm1-bottom type a {
  margin-left:3px;
  color:rgba(var(--mgrgb2),1);
  text-decoration: none;
}


/*********
THREAD1
*********/

via-thread1 {
  position:relative;
  display:grid;
  grid-template-columns: 100px auto;
  margin:30px auto;
  width:450px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 13% 8%, rgba(var(--mgrgb1),0.3) 0, transparent 73%), radial-gradient(at 28% 63%, rgba(var(--mgrgb2),0.2) 0, transparent 49%), radial-gradient(at 96% 62%, rgba(var(--mgrgb1),0.2) 0, transparent 99%), radial-gradient(at 20% 11%, var(--white-hex) 0, transparent 1%), radial-gradient(at 11% 32%, rgba(var(--mgrgb2),0.1) 0, transparent 11%), radial-gradient(at 57% 4%, rgba(var(--mgrgb2),0.4) 0, transparent 50%);
  background-blend-mode: var(--blendmode);
  font:500 13px var(--sans);
  color:var(--black-hex);
  border-radius:15px;
  border:1px solid var(--white-hex);
  overflow:hidden;
}

via-thread1 via-thread1-left {
  display:flex;
  flex-flow:column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:20px;
  background:rgba(var(--white2),0.2);
  border-right:1px solid var(--white-hex);
}

via-thread1 via-thread1-left img {
  width:60px;
  height:60px;
  border-radius:100%;
  border:1px solid var(--white-hex);
}

via-thread1 via-thread1-right tag {
  text-align:right;
  display:flex;
  flex-flow:column;
  justify-content: flex-end;
  margin:10px 0;
  padding:30px;
  font:800 13px var(--sans);
  text-transform:uppercase;
  color:rgb(var(--mgrgb1));
  border-bottom:1px solid var(--white-hex);
}

via-thread1 via-thread1-right tag a {
  font:20px var(--display);
  text-transform:lowercase;
  text-decoration: none;
  color:var(--black-hex)!important;
  margin-top:-10px;
}

via-thread1 via-thread1-right tag b a {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: left 1rem;
}

via-thread1 via-thread1-right .writing {
  position:relative;
  display:block;
  text-align:justify;
  padding:30px;
  line-height:160%;
}

via-thread1 via-thread1-right .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-thread1 via-thread1-right .writing i {
  color:rgb(var(--mgrgb2));
}

via-thread1 via-thread1-right .writing u {
  font:15px var(--display);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-thread1 via-thread1-right .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}

via-thread1 via-thread1-right written {
  text-align:left;
  display:flex;
  flex-flow:column;
  justify-content: flex-start;
  margin:10px 0;
  padding:30px;
  font:800 13px var(--sans);
  text-transform:uppercase;
  color:rgb(var(--mgrgb1));
  border-top:1px solid var(--white-hex);
}

via-thread1 via-thread1-right written x {
  font:20px var(--display);
  text-transform:lowercase;
  text-decoration: none;
  color:var(--black-hex)!important;
  margin-top:-10px;
}

via-thread1 via-thread1-right written x b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: left 1rem;
}

/*********
COMM2
*********/

via-comm2 {
  position:relative;
  display:grid;
  grid-template-rows: 40px auto minmax(300,450px) 50px;
  margin:30px auto;
  width:350px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 38% 92%, var(--white-hex) 0, transparent 68%), radial-gradient(at 3% 40%, rgba(var(--mgrgb1),0.3) 0, transparent 84%), radial-gradient(at 48% 22%, rgba(var(--mgrgb1),0) 0, transparent 66%), radial-gradient(at 44% 54%, rgba(var(--mgrgb2),0.3) 0, transparent 97%), radial-gradient(at 30% 15%, rgba(var(--mgrgb3),0) 0, transparent 5%), radial-gradient(at 84% 28%, rgba(var(--mgrgb3),0.3) 0, transparent 97%);
  color:var(--black-hex);
  border-radius:15px;
  font-family:var(--sans);
  text-align:justify;
  border:1px solid var(--white-hex);
  box-shadow: 0 0 10px 0 rgba(var(--white3),0.4);
  overflow:hidden;
}

via-comm2 via-comm2-top-1 {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  font:800 10px var(--sans);
  text-transform:uppercase;
}

via-comm2 via-comm2-top-1 x {
  background:var(--white3-hex);
  color:rgba(var(--mgrgb1));
  padding:5px 15px;
  border-radius:20px;
}

via-comm2 via-comm2-top-1 y i:nth-child(odd) {
  font-size:15px;
  color:rgb(var(--mgrgb2));
}

via-comm2 via-comm2-top-1 y i:nth-child(even) {
  font-size:15px;
  color:rgb(var(--mgrgb1));
}

via-comm2 via-comm2-top-2 {
  display:flex;
  flex-flow:column;
  justify-content: space-between;
  align-items: center;
  padding:20px;
}

via-comm2 via-comm2-top-2 cn {
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: center;
  text-align:center;
  font:800 30px var(--display);
  text-transform:lowercase;
  margin-top:0px;
  color:rgba(var(--mgrgb2));
}

via-comm2 via-comm2-top-2 cn x {
  background:var(--white3-hex);
  color:rgba(var(--mgrgb1));
  font:800 8px var(--sans);
  text-transform: uppercase;
  padding:5px 15px;
  border-radius:20px;
}

via-comm2 via-comm2-top-2 img {
  width:70px;
  height:70px;
  border-radius:100%;
  border:4px solid var(--white-hex);
}

via-comm2 .msgs {
  position:relative;
  display:grid;
  grid-template-rows:auto 50px auto;
  align-items:start;
  align-content: start;
  margin:20px;
  font-size:13px;
  padding-right:10px;
  max-height:450px;
  overflow:auto;
}

via-comm2 .msgs x {
  position:relative;
  float:left;
  text-align:left;
  clear:both;
  padding:20px;
  background:rgba(var(--mgrgb1),0.5);
  border:1px solid var(--white-hex);
  border-radius:15px;
}

via-comm2 .msgs x r {
  position:absolute;
  bottom:-15px;
  left:10px;
}

via-comm2 .msgs x r img[src*="emojis"] {
  width:15px;
  background:rgba(var(--white));
  padding:5px 10px;
  border-radius:5px;
}

via-comm2 .msgs bar {
  position:relative;
  display:block;
  background:var(--white-hex);
  width:50px;
  height:3px;
  margin:30px auto;
  border-radius:30px;
}

via-comm2 .msgs .msgs-proper p {
  float: right;
  clear:both;
  text-align: right;
  margin:3px 0;
  padding:15px;
  background:rgba(var(--white),0.5);
  color:var(--black-hex);
  font:500 14px var(--sans);
  border-radius:10px;
  border:1px solid var(--white-hex);
}

via-comm2 via-comm2-bottom {
  position:relative;
  margin:20px;
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  font-size:13px;
  color:rgba(var(--mgrgb3));
}

via-comm2 via-comm2-bottom i {
  margin:0 3px;
  font-size:15px;
}

via-comm2 via-comm2-bottom type {
  background:rgba(var(--mgrgb3),0.5);
  color:var(--white-hex);
  font:800 10px var(--sans);
  text-transform: uppercase;
  padding:5px 15px;
  margin:0 10px;
  border-radius:20px;
}



/*********
THREAD2
*********/

via-thread2 {
  position:relative;
  display:grid;
  grid-template-rows: 100px auto;
  margin:30px auto;
  width:330px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 26% 80%, rgb(var(--white)) 0, transparent 75%), radial-gradient(at 74% 21%, rgb(var(--mgrgb1),0.3) 0, transparent 84%), radial-gradient(at 34% 31%, rgb(var(--mgrgb2),0.3) 0, transparent 66%), radial-gradient(at 81% 54%, rgb(var(--mgrgb3),0.3) 0, transparent 86%);
  background-blend-mode: var(--blendmode);
  font:500 13px var(--sans);
  text-align:justify;
  color:var(--black-hex);
  border-radius:15px;
  border:1px solid var(--white-hex);
  overflow:hidden;
}

via-thread2 wave {
  position: absolute;
  width:100%;
display: block;
height: 130px;
top: 0;
left: 0;
-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath d='M0,96L40,112C80,128,160,160,240,149.3C320,139,400,85,480,85.3C560,85,640,139,720,138.7C800,139,880,85,960,96C1040,107,1120,181,1200,218.7C1280,256,1360,256,1400,256L1440,256L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
-webkit-mask-position: bottom;
-webkit-mask-size: cover;
background:var(--white-hex);
}

via-thread2 wave1 {
  position: absolute;
  width:100%;
display: block;
height: 100px;
bottom: 0;
left: 0;
-webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath d='M0,64L48,74.7C96,85,192,107,288,144C384,181,480,235,576,224C672,213,768,139,864,128C960,117,1056,171,1152,176C1248,181,1344,139,1392,117.3L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E");
-webkit-mask-position: bottom;
-webkit-mask-size: cover;
background:var(--white-hex);
}

via-thread2 via-thread2-top {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  z-index:2;
}

via-thread2 via-thread2-top img {
  width:65px;
  height:65px;
  border-radius:10px;
  margin:20px;
  border:1px solid var(--white-hex);
}

via-thread2 via-thread2-top tag {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  margin:20px;
  font:800 11px var(--sans);
  text-transform:uppercase;
}

via-thread2 .writing {
  position:relative;
  padding:50px;
  z-index:2;
}

via-thread2 .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-thread2 .writing i {
  color:rgb(var(--mgrgb2));
}

via-thread2 .writing u {
  font:15px var(--display);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-thread2 .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}

via-thread2 bar {
  position:relative;
  display:block;
  margin:-30px auto 20px;
  width:50px;
  height:2px;
  background:var(--white-hex);
  border-radius:30px;
  position:relative;
}

via-thread2 bar.top {
  margin:20px auto -30px;
}

via-thread2 written {
  position:relative;
  z-index:2;
  margin:0px auto 30px;
  font:20px var(--display);
}

via-thread2 written b {
 background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
 background-size: 100% 100px;
 background-repeat: no-repeat;
 background-position: left 1rem;
 padding:0 4px;
}

/*********
THREAD3
*********/

via-thread3 {
  position:relative;
  display:grid;
  grid-template-rows: 10px auto auto auto 10px;
  margin:30px auto;
  width:330px;
  background-color: var(--white-hex);
  font:500 14px var(--sans);
  text-align:justify;
  color:var(--black-hex);
  border-radius:15px;
  border:1px solid var(--white2-hex);
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.25);
  overflow:hidden;
}

via-thread3 bar {
  position:relative;
  display:block;
  width:100%;
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
}

via-thread3 via-thread3-img {
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  padding:50px;
  background:var(--white3-hex);
}

via-thread3 via-thread3-img img {
  margin:0 auto;
  border-radius:5px;
  border:2px solid rgb(var(--mgrgb1));
}

via-thread3 via-thread3-img img.circle {
  width:80px;
  height:80px;
  border-radius:100%;
}

via-thread3 via-thread3-img img.square {
  width:80px;
  height:80px;
}

via-thread3 via-thread3-img img.rectangle {
  width:120px;
}

via-thread3 .writing {
  padding:50px;
  line-height:160%;
}

via-thread3 .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-thread3 .writing i {
  color:rgb(var(--mgrgb2));
}

via-thread3 .writing u {
  font:15px var(--display);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-thread3 .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}

via-thread3 tag {
  margin:0 auto 30px;
  padding:5px 25px;
  background:linear-gradient(to bottom left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 100%);
  border-radius:15px;
  text-transform:uppercase;
  font:800 10px var(--sans);
  color:var(--white-hex)!important;
}

/*********
CHARACTER1
*********/
via-character1 {
  position:relative;
  display:grid;
  grid-template-rows: 100px 350px 450px;
  margin:30px auto;
  width:650px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 38% 92%, var(--white-hex) 0, transparent 68%), radial-gradient(at 3% 40%, rgba(var(--mgrgb1),0.3) 0, transparent 84%), radial-gradient(at 48% 22%, rgba(var(--mgrgb1),0) 0, transparent 66%), radial-gradient(at 44% 54%, rgba(var(--mgrgb2),0.3) 0, transparent 97%), radial-gradient(at 30% 15%, rgba(var(--mgrgb3),0) 0, transparent 5%), radial-gradient(at 84% 28%, rgba(var(--mgrgb3),0.3) 0, transparent 97%);
  color:var(--black-hex);
  border-radius:15px;
  font: 13px var(--sans);
  text-align:justify;
  border:1px solid var(--white-hex);
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.25);
  overflow:hidden;
}

via-character1 ::-webkit-scrollbar-thumb { height:auto; background:rgb(var(--mainColor));  border-radius:5px; }
via-character1 ::-webkit-scrollbar { width:5px; height:5px; background:rgb(var(--backColor));}

via-character1 via-character1-top {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  border-bottom:1px solid var(--white-hex);
}

via-character1 via-character1-top img {
  width:60px;
  height:60px;
  border-radius:10px;
  border:1px solid var(--white-hex);
}

via-character1 via-character1-top b {
  font:800 25px var(--sans);
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left 1rem;
  padding:0 4px;
}

via-character1 via-character1-body {
  position:relative;
  display:grid;
  grid-template-columns: auto 210px;
  border-bottom:1px solid var(--white-hex);
}

via-character1 via-character1-body via-character1-body-left {
  padding:20px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

via-character1 via-character1-body via-character1-body-left x.four {
  grid-column:span 4;
}

via-character1 via-character1-body via-character1-body-left x.two {
  grid-column:span 2;
}

via-character1 via-character1-body via-character1-body-left x {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:10px;
  background:rgba(var(--white),0.3);
  text-transform: uppercase;
  border:1px solid var(--white-hex);
  border-radius:10px;
}

via-character1 via-character1-body via-character1-body-right {
  padding:20px;
  background:rgba(var(--white),0.3);
  border-left:1px solid var(--white-hex);
}

via-character1 via-character1-body via-character1-body-left x:nth-child(odd) b {
  color:rgb(var(--mgrgb1));
}

via-character1 via-character1-body via-character1-body-left x:nth-child(even) b{
  color:rgb(var(--mgrgb2));
}

via-character1 via-character1-body via-character1-body-right img {
  width:167px;
  height:300px;
  border-radius:10px;
  border:1px solid var(--white-hex);
}

via-character1 via-character1-bottom {
  position:relative;
  display:grid;
  grid-template-rows: 50px auto;
  grid-gap:20px;
}

via-character1 via-character1-bottom via-character1-bottom-code {
  padding:15px;
  height:50px;
  background:rgba(var(--white),0.3);
  border-bottom:1px solid var(--white-hex);
  overflow-x:auto;
  overflow-y: hidden;
}

via-character1 via-character1-bottom via-character1-bottom-code ::-webkit-scrollbar-thumb,
via-character1 via-character1-bottom via-character1-bottom-code ::-webkit-scrollbar {
  display:none;
}

via-character1 #CODE {
  all:unset;
  letter-spacing: 1px;
  white-space:pre;
  word-break: break-all;
  font-size:14px;
}


via-character1 via-character1-bottom via-character1-bottom-tracker {
  padding:30px;
}

via-character1 via-character1-bottom via-character1-bottom-tracker b {
  font:800 25px var(--sans);
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left 1rem;
  padding:0 4px;
}

via-character1 via-character1-bottom via-character1-bottom-tracker overflow {
  display:block;
  max-height:270px;
  padding-right:15px;
  overflow:auto;
  margin:20px 0;
}

via-character1 via-character1-bottom via-character1-bottom-tracker a {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  margin:5px 0;
  padding:20px;
  background:rgba(var(--white),0.3);
  text-transform: uppercase;
  border:1px solid var(--white-hex);
  border-radius:10px;
}

via-character1 via-character1-bottom via-character1-bottom-tracker a:nth-child(odd) {
  color:rgb(var(--mgrgb3));
}

via-character1 via-character1-bottom via-character1-bottom-tracker a:nth-child(even) {
  color:rgb(var(--mgrgb2));
}

via-character1 via-character1-bottom via-character1-bottom-tracker a.thread::before {
  content:"\F4CB";
  font-family: 'Bootstrap-Icons';
}

via-character1 via-character1-bottom via-character1-bottom-tracker a.comm::before {
  content:"\F4E7";
  font-family: 'Bootstrap-Icons';
}

via-character1 via-character1-bottom via-character1-bottom-tracker a.dev::before {
  content:"\F4E1";
  font-family: 'Bootstrap-Icons';
}

/*********
TRACKER1
*********/

via-tracker1 {
  position:relative;
  display:grid;
  grid-template-rows: auto auto auto;
  grid-gap:10px;
  margin:30px auto;
  width:350px;
  padding:30px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 38% 92%, var(--white-hex) 0, transparent 68%), radial-gradient(at 3% 40%, rgba(var(--mgrgb1),0.1) 0, transparent 84%), radial-gradient(at 48% 22%, rgba(var(--mgrgb1),0) 0, transparent 66%), radial-gradient(at 44% 54%, rgba(var(--mgrgb2),0.1) 0, transparent 97%), radial-gradient(at 30% 15%, rgba(var(--mgrgb3),0) 0, transparent 5%), radial-gradient(at 84% 28%, rgba(var(--mgrgb3),0.1) 0, transparent 97%);
  color:var(--black-hex);
  border-radius:15px;
  font: 13px var(--sans);
  text-align:justify;
  border:1px solid var(--white-hex);
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.25);
  overflow:hidden;
}

via-tracker1 via-tracker1-top {
  margin:0 auto;
}

via-tracker1 via-tracker1-top b {
  font:25px var(--display);
  font:800 25px var(--sans);
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left 1rem;
  padding:0 4px;
}

via-tracker1 .writing {
  font:14px var(--sans);
  line-height:160%;
}

via-tracker1 .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-tracker1 .writing i {
  color:rgb(var(--mgrgb2));
}

via-tracker1 .writing u {
  font:15px var(--display);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-tracker1 .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}

via-tracker1 via-tracker1-tracking {
  display:grid;
  grid-gap:5px;
  margin-top:10px;
}

via-tracker1 via-tracker1-tracking a {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background:rgba(var(--white),0.3);
  font-weight:800;
  text-transform: uppercase;
  border:1px solid var(--white-hex);
  border-radius:10px;
}

via-tracker1 via-tracker1-tracking a:nth-child(1n) {
  color:rgb(var(--mgrgb3));
}

via-tracker1 via-tracker1-tracking a:nth-child(2n) {
  color:rgb(var(--mgrgb2));
}

via-tracker1 via-tracker1-tracking a:nth-child(3n) {
  color:rgb(var(--mgrgb1));
}


/*********
THREAD4
*********/

via-thread4 {
  position:relative;
  display:grid;
  grid-template-rows: 10px auto auto auto 10px;
  margin:30px auto;
  width:100%;
  background-color: var(--white-hex);
  font:500 14px var(--sans);
  text-align:justify;
  color:var(--black-hex);
  border-radius:15px;
  border:1px solid var(--white2-hex);
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.25);
  overflow:hidden;
}

via-thread4 bar {
  position:relative;
  display:block;
  width:100%;
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
}

via-thread4 via-thread4-img {
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
  align-items: center;
  padding:50px;
}

via-thread4 via-thread4-img img {
  border-radius:5px;
  border:2px solid rgb(var(--mgrgb1));
}

via-thread4 via-thread4-img img.circle {
  width:80px;
  height:80px;
  border-radius:100%;
}

via-thread4 via-thread4-img img.square {
  width:80px;
  height:80px;
}

via-thread4 via-thread4-img img.rectangle {
  width:120px;
}

via-thread4 .writing {
  padding:50px;
  line-height:160%;
}

via-thread4 .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-thread4 .writing i {
  color:rgb(var(--mgrgb2));
}

via-thread4 .writing u {
  font:15px var(--display);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-thread4 .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}

via-thread4 tag {
  align-self: start;
  justify-self:start;
  margin:40px;
  padding:30px;
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  padding:5px 25px;
  background:var(--white3-hex);
  border-radius:15px;
  text-transform:uppercase;
  font:800 10px var(--sans);
  color:rgb(var(--mgrgb2))!important;
}

/*********
CHARACTER2
*********/

via-character2 {
  position:relative;
  display:grid;
  grid-template-rows: 100px auto 50px 450px;
  margin:30px auto;
  width:650px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 100% 16%, rgba(var(--mgrgb1),0.3) 0, transparent 40%), radial-gradient(at 0% 21%, rgba(var(--mgrgb2),0.3) 0, transparent 63%), radial-gradient(at 55% 0%, rgba(var(--mgrgb3),0.3) 0, transparent 36%);
  color:var(--black-hex);
  border-radius:15px;
  font: 13px var(--sans);
  text-align:justify;
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.75);
  overflow:hidden;
}

via-character2 via-character2-top {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:30px;
  border-bottom:1px solid var(--white-hex);
}

via-character2 via-character2-top b {
  font:800 25px var(--sans);
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-position: left 1rem;
  padding:0 4px;
}

via-character2 via-character2-top img {
  width:60px;
  height:60px;
  border-radius:5px;
  box-shadow: 0 0 30px 10px rgba(var(--white),0.75);
}

via-character2 via-character2-body {
  position:relative;
  display:grid;
  grid-template-rows:auto auto;
  border-bottom:1px solid var(--white-hex);
}

via-character2 via-character2-body via-character2-body-top {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:30px;
}

via-character2 via-character2-body via-character2-body-top img {
  width:150px;
  height:150px;
  border-radius:10px;
  box-shadow: 0 0 30px 10px rgba(var(--white),0.75);
}

via-character2 via-character2-body via-character2-body-bottom {
  padding:20px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

via-character2 via-character2-body via-character2-body-bottom x.four {
  grid-column:span 4;
}

via-character2 via-character2-body via-character2-body-bottom x.two {
  grid-column:span 2;
}

via-character2 via-character2-body via-character2-body-bottom x {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  background:rgba(var(--white),0.3);
  text-transform:uppercase;
  padding:20px;
  border-radius:5px;
}

via-character2 via-character2-body via-character2-body-bottom x b {
  color:rgb(var(--mgrgb2));
}

via-character2 via-character2-code {
  padding:15px;
  height:50px;
  background:rgba(var(--white),0.5);
  border-bottom:1px solid var(--white-hex);
  overflow-x:auto;
  overflow-y: hidden;
}

via-character2 #CODE {
  all:unset;
  letter-spacing: 1px;
  white-space:pre;
  word-break: break-all;
  font-size:14px;
  font-family:var(--mono);
}


via-character2 via-character2-tracker {
  padding:50px 30px;
}

via-character2 via-character2-tracker b {
  font:800 25px var(--sans);
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-position: left 1rem;
  padding:0 4px;
}

via-character2 via-character2-tracker overflow {
  display:block;
  max-height:300px;
  padding-right:15px;
  overflow:auto;
  margin:20px 0;
}

via-character2 via-character2-tracker a {
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  margin:5px 0;
  padding:20px;
  text-transform: uppercase;
  font-weight:800;
  border-radius:5px;
}

via-character2 via-character2-tracker a:nth-child(odd) {
  background:rgba(var(--mgrgb3),0.2);
  color:rgb(var(--mgrgb3));
}

via-character2 via-character2-tracker a:nth-child(even) {
  color:rgb(var(--mgrgb2));
  background:rgba(var(--mgrgb2),0.2);
}

via-character2 via-character2-tracker a.thread::before {
  content:"\F4CB";
  font-family: 'Bootstrap-Icons';
}

via-character2 via-character2-tracker a.comm::before {
  content:"\F4E7";
  font-family: 'Bootstrap-Icons';
}

via-character2 via-character2-tracker a.dev::before {
  content:"\F4E1";
  font-family: 'Bootstrap-Icons';
}

/*********
COMM3
*********/

via-comm3 {
  position:relative;
  display:grid;
  grid-template-rows: 100px 150px auto 70px;
  margin:30px auto;
  width:400px;
  background-color: var(--white-hex);
  background-image: linear-gradient(rgb(var(--mgrgb1),0.2), rgb(var(--mgrgb2),0.2), rgb(var(--mgrgb3),0.2), var(--white-hex) 40%);
  color:var(--black-hex);
  border-radius:25px;
  font: 13px var(--sans);
  text-align:justify;
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.75);
  overflow:hidden;
}

via-comm3 via-comm3-top {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
  align-items: center;
  padding:20px;
}

via-comm3 via-comm3-top i {
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  background:var(--white-hex);
  color:rgba(var(--mgrgb1));
  width:30px;
  height:30px;
  padding:10px;
  border-radius:5px;
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.75);
}

via-comm3 via-comm3-image {
  position:relative;
  display:flex;
  flex-flow:column;
  justify-content: center;
  align-items: flex-end;
  padding:0px 50px 50px;
  border-bottom:1px solid var(--white3-hex);
}

via-comm3 via-comm3-image img {
  width:60px;
  height:60px;
  aspect-ratio: 1 / 1;
  border-radius:10px;
  border:5px solid var(--white-hex);
}

via-comm3 via-comm3-image name {
  margin-top:10px;
  font:800 25px var(--sans);
  color:rgb(var(--mgrgb2));
}

via-comm3 .msgs {
  position:relative;
  display:grid;
  grid-template-rows:auto 50px auto;
  align-items:start;
  align-content: start;
  margin:30px;
  font-size:13px;
  padding-right:10px;
  max-height:450px;
  overflow:auto;
}

via-comm3 .msgs x {
  position:relative;
  float:left;
  text-align:left;
  clear:both;
  padding:20px;
  background:rgba(var(--mgrgb1),0.4);
  border:1px solid rgba(var(--mgrgb1),0.5);
  border-radius:15px;
}

via-comm3 .msgs x r {
  position:absolute;
  bottom:-15px;
  left:10px;
}

via-comm3 .msgs x r img[src*="emojis"] {
  width:15px;
  background:rgba(var(--mgrgb1),1);
  padding:5px 10px;
  border-radius:5px;
}

via-comm3 .msgs bar {
  position:relative;
  display:block;
  background:rgba(var(--mgrgb3),1);
  width:50px;
  height:3px;
  margin:30px auto;
  border-radius:20px;
}

via-comm3 .msgs .msgs-proper p {
  float: right;
  clear:both;
  text-align: right;
  margin:3px 0;
  padding:15px;
  background:rgba(var(--mgrgb2),0.4);
  color:var(--black-hex);
  font:500 14px var(--sans);
  border-radius:10px;
  border:1px solid rgba(var(--mgrgb2),0.5);
}

via-comm3 type {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: flex-start;
  align-items: center;
  padding:30px;
  border-top:1px solid rgb(var(--white3));
}

via-comm3 type send {
  background:rgba(var(--white3),1);
  padding:15px;
  border-radius:10px;
  width:80%;
  font:800 10px var(--sans);
  text-transform:uppercase;
}

via-comm3 type i {
  color:rgba(var(--mgrgb3),1);
  margin:10px;
  font-size:20px;
}

/*********
GENERAL1
*********/

via-general1 {
  position:relative;
  display:grid;
  grid-template-rows: 100px auto auto;
  margin:30px auto;
  width:600px;
  background-color: var(--white-hex);
  background-image: linear-gradient(to top, rgb(var(--mgrgb1),0.2), rgb(var(--mgrgb2),0.2), rgb(var(--mgrgb3),0.2), var(--white-hex) 40%);
  color:var(--black-hex);
  border-radius:10px;
  font: 13px var(--sans);
  text-align:justify;
  box-shadow: 0 0 10px 0 rgba(var(--gray),0.75);
  overflow:hidden;
}

via-general1 via-general1-top {
  position:relative;
  padding:30px;
  font:800 30px var(--sans);
  background:var(--white2-hex);
}

via-general1 via-general1-top b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-position: left 1rem;
  padding:0 4px;
}

via-general1 via-general1-top::after {
  content: '';
  position:absolute;
  top:100px;
  left:0;
  width:100%;
  height:5px;
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
}

via-general1 .writing {
  padding:30px;
  font:500 14px var(--sans);
  line-height:160%;
}

via-general1 .writing h1,
via-general1 .writing h2,
via-general1 .writing h3,
via-general1 .writing h4,
via-general1 .writing h5,
via-general1 .writing h6 {
  position:relative;
  display:block;
  margin:3px 0;
}

via-general1 .writing h1 span,
via-general1 .writing h2 span,
via-general1 .writing h3 span,
via-general1 .writing h4 span,
via-general1 .writing h5 span,
via-general1 .writing h6 span {
  background-image: linear-gradient(to left, rgba(var(--mgrgb1),1) 0%, rgba(var(--mgrgb2),1) 15%, rgba(var(--mgrgb3),1) 50%, rgba(var(--mgrgb2),1) 85%, rgba(var(--mgrgb1),1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(var(--white),0);
}

via-general1 .writing quote-type {
  position:relative;
  display:block;
  margin-top:40px;
  padding:20px;
  background:var(--white3-hex);
  font:600 17px var(--sans);
  color:rgb(var(--mgrgb1));
  border-radius:10px;
  box-shadow:0 0 5px 0 rgba(var(--gray),0.5);
}

via-general1 .writing quote-type::before {
  content: '❝ ';
  font-size:35px;
  color:var(--black-hex);
}

via-general1 .writing quote-type::first-letter {
  font-size:35px;
  color:var(--black-hex);
}

via-general1 .writing blockquote {
  position:relative;
  display:block;
  margin:0px 0;
  padding:30px;
  background:var(--white3-hex);
  font:500 14px var(--sans);
  border-radius:10px;
  box-shadow:0 0 5px 0 rgba(var(--gray),0.25);
}

via-general1 .writing span-type {
  position:relative;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
  align-items: center;
  margin:5px 0;
}

via-general1 .writing span-type span {
  flex-grow:1;
  display:flex;
  flex-flow:row;
  justify-content: center;
  align-items: center;
  padding:5px 10px;
  margin:3px;
  background:var(--white3-hex);
  text-align:center;
  border-radius:7px;
  box-shadow:0 0 5px 0 rgba(var(--gray),0.25);
}

via-general1 .writing span-type span b {
  margin:0 10px 0 0;
}

via-general1 .writing span-type span:nth-child(odd) b {
  color:rgb(var(--mgrgb2));
  background:none;
}

via-general1 .writing span-type span:nth-child(even) b {
  color:rgb(var(--mgrgb3));
  background:none;
}

via-general1 .code-part {
  position:relative;
  padding:50px;
  font:500 14px var(--sans);
  line-height:160%;
}

via-general1 .code-part::before {
  content: '';
  position:absolute;
  top:0px;
  left:0;
  width:100%;
  height:5px;
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
}

via-general1 .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 10px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-general1 .writing i {
  color:rgb(var(--mgrgb2));
}

via-general1 .writing u {
  font:800 15px var(--sans);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-general1 .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}
