@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Work+Sans:wght@300;400;800&display=swap');

html {

  /*** FONTS ***/
  --sans: 'Work Sans', sans-serif;
  --display: 'Cherry Bomb One', cursive;

  /*** COLORS ***/
  --clear: rgba(255, 255, 255, 0);
  --white: 255, 252, 252;
  --white-hex: #fffcfc;
  --white2: 247, 247, 247;
  --white2-hex: #f7f7f7;
  --white3: 240, 240, 240;
  --white3-hex: #f0f0f0;
  --gray: 221, 221, 221;
  --gray-hex: #ddd;
  --black: 40, 42, 42;
  --black-hex: #282a2a;
  --darken: 0%;
  --blendmode: darken;
}

html img {
  object-fit: cover;
  object-position: center center;
}

html[color-mode="dark"] {

  /*** COLORS ***/
  --clear: rgba(255, 255, 255, 0);
  --white: 38, 38, 38;
  --white-hex: #262626;
  --white2: 86, 86, 86;
  --white2-hex: #444;
  --white3: 51, 51, 51;
  --white3-hex: #333;
  --gray: 74, 73, 73;
  --gray-hex: #4a4949;
  --black: 252, 252, 252;
  --black-hex: #fffcfc;
  --darken: -15%;
  --blendmode: exclusion;
}

/*********
COMM1
*********/

via-comm1 {
  position:relative;
  display:grid;
  grid-template-rows: 100px 450px 50px;
  margin:30px auto;
  width:300px;
  background:var(--white2-hex);
  color:var(--black-hex);
  border-radius:15px;
  font-family:var(--sans);
  text-align:justify;
  border:2px solid var(--white3-hex);
  box-shadow: 0 0 10px 0 rgba(var(--white3),0.4);
  overflow:hidden;
}

via-comm1 via-comm1-top {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  background:linear-gradient(to right, rgba(var(--mgrgb1),0.2) 0%, rgba(var(--mgrgb2),0.2) 15%, rgba(var(--mgrgb3),0.2) 50%, rgba(var(--mgrgb2),0.2) 85%, rgba(var(--mgrgb1),0.2) 100%);
  border-bottom:2px solid var(--white3-hex);
}

via-comm1 via-comm1-top comm1-top {
  position:relative;
}

via-comm1 via-comm1-top comm1-top img {
  width:50px;
  height:50px;
  border:2px solid var(--white3-hex);
  border-radius:100%;
}

via-comm1 via-comm1-top comm1-top indicator {
  position:absolute;
  right:3px;
  top:5px;
  width:10px;
  height:10px;
  border-radius:100%;
  background: rgb(var(--mgrgb1));
}

via-comm1 via-comm1-top contact-name {
  font:25px var(--display);
  color:var(--white-hex);
}

contact-name b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.8) 0%, rgba(var(--mgrgb2),0.8) 15%, rgba(var(--mgrgb3),0.8) 50%, rgba(var(--mgrgb2),0.8) 85%, rgba(var(--mgrgb1),0.8) 100%);
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: left 1rem;
}

via-comm1 .msgs {
  position:relative;
  display:grid;
  grid-template-rows:auto 50px auto;
  align-items:start;
  align-content: start;
  margin:20px;
  font-size:13px;
  padding-right:5px;
  overflow:auto;
}

via-comm1 .msgs x {
  position:relative;
  float:right;
  text-align:right;
  clear:both;
  padding:20px;
  background:var(--white-hex);
  border-radius:15px;
}

via-comm1 .msgs x r {
  position:absolute;
  bottom:-15px;
  right:10px;
}

via-comm1 .msgs x r img[src*="emojis"] {
  width:15px;
  background:rgba(var(--mgrgb1));
  padding:5px 10px;
  border-radius:5px;
}

via-comm1 .msgs bar {
  position:relative;
  display:block;
  background:var(--white-hex);
  width:50px;
  height:3px;
  margin:30px auto;
}

via-comm1 .msgs .msgs-proper p {
  float:left;
  clear:both;
  margin:3px 0;
  padding:10px;
  border-radius:10px;
  background:rgba(var(--mgrgb3),0.7);
}

via-comm1 via-comm1-bottom {
  position:relative;
  display:block;
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.8) 0%, rgba(var(--mgrgb2),0.8) 15%, rgba(var(--mgrgb3),0.8) 50%, rgba(var(--mgrgb2),0.8) 85%, rgba(var(--mgrgb1),0.8) 100%);
}

via-comm1 via-comm1-bottom type {
    position:relative;
    display:flex;
    flex-flow:row;
    justify-content: start;
    align-items: center;
    background:var(--white-hex);
    margin:10px 20px;
    width:calc(100% - 60px);
    height:30px;
    border-radius:20px;
    padding:0 10px;
    font:800 10px var(--sans);
    text-transform:uppercase;
    color:rgba(var(--mgrgb1),1);
    border-top:2px solid var(--white3-hex);
}

via-comm1 via-comm1-bottom type a {
  margin-left:3px;
  color:rgba(var(--mgrgb2),1);
  text-decoration: none;
}


/*********
THREAD1
*********/

via-thread1 {
  position:relative;
  display:grid;
  grid-template-columns: 100px auto;
  margin:30px auto;
  width:450px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 13% 8%, rgba(var(--mgrgb1),0.3) 0, transparent 73%), radial-gradient(at 28% 63%, rgba(var(--mgrgb2),0.2) 0, transparent 49%), radial-gradient(at 96% 62%, rgba(var(--mgrgb1),0.2) 0, transparent 99%), radial-gradient(at 20% 11%, var(--white-hex) 0, transparent 1%), radial-gradient(at 11% 32%, rgba(var(--mgrgb2),0.1) 0, transparent 11%), radial-gradient(at 57% 4%, rgba(var(--mgrgb2),0.4) 0, transparent 50%);
  background-blend-mode: var(--blendmode);
  font:500 13px var(--sans);
  color:var(--black-hex);
  border-radius:15px;
  border:1px solid var(--white-hex);
  overflow:hidden;
}

via-thread1 via-thread1-left {
  display:flex;
  flex-flow:column;
  justify-content: flex-start;
  align-items: flex-start;
  padding:20px;
  background:rgba(var(--white2),0.2);
  border-right:1px solid var(--white-hex);
}

via-thread1 via-thread1-left img {
  width:60px;
  height:60px;
  border-radius:100%;
  border:1px solid var(--white-hex);
}

via-thread1 via-thread1-right tag {
  text-align:right;
  display:flex;
  flex-flow:column;
  justify-content: flex-end;
  margin:10px 0;
  padding:30px;
  font:800 13px var(--sans);
  text-transform:uppercase;
  color:rgb(var(--mgrgb1));
  border-bottom:1px solid var(--white-hex);
}

via-thread1 via-thread1-right tag a {
  font:20px var(--display);
  text-transform:lowercase;
  text-decoration: none;
  color:var(--black-hex)!important;
  margin-top:-10px;
}

via-thread1 via-thread1-right tag b a {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: left 1rem;
}

via-thread1 via-thread1-right .writing {
  position:relative;
  display:block;
  text-align:justify;
  padding:30px;
  line-height:160%;
}

via-thread1 via-thread1-right .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-thread1 via-thread1-right .writing i {
  color:rgb(var(--mgrgb2));
}

via-thread1 via-thread1-right .writing u {
  font:15px var(--display);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-thread1 via-thread1-right .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}

via-thread1 via-thread1-right written {
  text-align:left;
  display:flex;
  flex-flow:column;
  justify-content: flex-start;
  margin:10px 0;
  padding:30px;
  font:800 13px var(--sans);
  text-transform:uppercase;
  color:rgb(var(--mgrgb1));
  border-top:1px solid var(--white-hex);
}

via-thread1 via-thread1-right written x {
  font:20px var(--display);
  text-transform:lowercase;
  text-decoration: none;
  color:var(--black-hex)!important;
  margin-top:-10px;
}

via-thread1 via-thread1-right written x b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 100px;
  background-repeat: no-repeat;
  background-position: left 1rem;
}

/*********
THREAD1
*********/

via-thread2 {
  position:relative;
  display:grid;
  grid-template-rows: 100px auto;
  margin:30px auto;
  width:330px;
  background-color: var(--white-hex);
  background-image: radial-gradient(at 26% 80%, rgb(var(--white)) 0, transparent 75%), radial-gradient(at 74% 21%, rgb(var(--mgrgb1),0.3) 0, transparent 84%), radial-gradient(at 34% 31%, rgb(var(--mgrgb2),0.3) 0, transparent 66%), radial-gradient(at 81% 54%, rgb(var(--mgrgb3),0.3) 0, transparent 86%);
  background-blend-mode: var(--blendmode);
  font:500 13px var(--sans);
  text-align:justify;
  color:var(--black-hex);
  border-radius:15px;
  border:1px solid var(--white-hex);
  overflow:hidden;
}

via-thread2 .wave {
  position:absolute;
  height:130px;
}

via-thread2 .wave1 {
  position:absolute;
  bottom:0;
  height:130px;
}

via-thread2 via-thread2-top {
  position:relative;
  display:flex;
  flex-flow:row;
  justify-content: space-between;
  align-items: center;
  z-index:2;
}

via-thread2 via-thread2-top img {
  width:65px;
  height:65px;
  border-radius:10px;
  margin:20px;
  border:1px solid var(--white-hex);
}

via-thread2 via-thread2-top tag {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  margin:20px;
  font:800 11px var(--sans);
  text-transform:uppercase;
}

via-thread2 .writing {
  position:relative;
  padding:50px;
  z-index:2;
}

via-thread2 .writing b {
  background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: left 0.5rem;
  padding:0 4px;
}

via-thread2 .writing i {
  color:rgb(var(--mgrgb2));
}

via-thread2 .writing u {
  font:15px var(--display);
  text-decoration-color:rgb(var(--mgrgb3));
}

via-thread2 .writing a {
  font:800 13px var(--sans);
  text-transform:uppercase;
  letter-spacing: 0.15px;
  color:rgb(var(--mgrgb1));
}

via-thread2 bar {
  position:relative;
  display:block;
  margin:-30px auto 20px;
  width:50px;
  height:2px;
  background:var(--white-hex);
  border-radius:30px;
  position:relative;
}

via-thread2 bar.top {
  margin:20px auto -30px;
}

via-thread2 written {
  position:relative;
  z-index:2;
  margin:0px auto 30px;
  font:20px var(--display);
}

via-thread2 written b {
 background:linear-gradient(to left, rgba(var(--mgrgb1),0.5) 0%, rgba(var(--mgrgb2),0.5) 15%, rgba(var(--mgrgb3),0.5) 50%, rgba(var(--mgrgb2),0.5) 85%, rgba(var(--mgrgb1),0.5) 100%);
 background-size: 100% 100px;
 background-repeat: no-repeat;
 background-position: left 1rem;
 padding:0 4px;
}
